* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: lightblue;
  position: relative;
}

h1 {
  width: fit-content;
  margin-inline: auto;
}

.snow-container {
  margin-inline: 2rem;
  display: flex;
  gap: 10rem;

  position: absolute;
  top: -20px;
  z-index: -1;
}

.snowflake {
  width: fit-content;
  font-size: 2rem;

  animation: fall 5000ms 0ms infinite linear;
}

@keyframes fall {
  0% {
    transform: translateY(0vh);
  }
  100% {
    transform: translateY(100vh);
  }
}

.snow-1 {
  animation-delay: 500ms;
  animation-duration: 4000ms;
}

.snow-2 {
  animation-delay: 3500ms;
  animation-duration: 7000ms;
}

.snow-3 {
  animation-delay: 0ms;
  animation-duration: 4500ms;
}

.snow-4 {
  animation-delay: 1500ms;
  animation-duration: 6000ms;
}

.snow-5 {
  animation-delay: 2500ms;
  animation-duration: 4000ms;
}

.snow-6 {
  animation-delay: 1000ms;
  animation-duration: 5500ms;
}

.snow-7 {
  animation-delay: 3000ms;
}
